.postcard{
  	height: 232px;    
  	border-style: solid;
    border-color: rgba(255,255,255,0.05);
  	border-width: 1px;
}

.darkview{
	background-color:rgba(0,0,0,0.6);
  	overflow-y:scroll;
}

.postcardTitle{
    font-size: 22px;
    font-weight: 800;
    color: rgba(255,255,255,0.4);
}

.watchvalue{
font-size: 129px;
    font-weight: 900;
    color: rgba(255,255,255,0.4);
      position: relative;
    top: -15px;
}
.watchdetail{
    font-size: 38px;
    font-weight: 400;
    top: -67px;
    position: relative;
    display: inline-block;
    color: rgba(255,255,255,0.2);
}